body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}
    

main {
    flex: 1;
    margin: 100px 5% 0;
    
}

a{
    text-decoration:none;
}

a:link{
    text-decoration:none;
    color:white;
}

a:visited{
    text-decoration:none;
    color:white;
}

footer {
    background-color:gainsboro;
    color:black;
    text-align: center;
    padding: 0.5rem;
    width:100%;
}

footer a:link{
    color:black;
}

footer a:visited{
    color:black;
}

footer a:hover{
    color:black;
}


#second-footer {
    position: sticky; /* Modifica qui */
    bottom: 0;
    width: 100%;
    padding:0.5rem;
    margin-top: 10px;
}

#second-footer a:link{
    color:white
}

#second-footer a:visited{
    color:white
}


#home {
    display: none;
}

legend{
    word-break:break-all;
}

p{
    word-break:break-all; 
}

p.titolo {
    font-size: 24px;
}

a{
    word-break:break-all; 
}


.dropdown-menu a {
    color: black;
    transition: color 0.3s; /* Aggiungi una transizione per un effetto più fluido */
}

.dropdown-menu a:hover {
    color: #007bff; /* Colore azzurro */
}

.dropdown-menu a:focus {
    outline: none; 
    box-shadow: none; 
    background-color: #007bff; 
    color: #fff; 
}

iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #logo{
        display: none;
    }

    #home {
        display: inline-block;
    }

    .hide-on-mobile {
        display: none !important; /* Nascondi il testo */
    }
    
}